<div class="footer">
    <div class="footer-fixed">
        <div class="tooltip-holder">
            <span class="material-icons ">
                info
              </span>
              <span class="tooltiptext">Thx for the second chance!</span>
        </div>
        
    </div>
</div>