.footer {
    height: 7vh;
    color: #efefef;
  }
  
  .footer-fixed {
    bottom: 0;
    left: 0;
    background: tomato;
    font-size: 14px;
    position: fixed;
    line-height: 40px;
    height: 40px;
    text-indent: 20px;
    width: 100%;
  }

  span {
      padding-top: 0.4em;
      padding-left: 45%;
  }

  .tooltip-holder .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 46%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip-holder .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip-holder:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }