.header {
    height: 7vh;
    color: #efefef;
  }
  
  .header-fixed {
    top: 0;
    left: 0;
    background: tomato;
    font-size: 14px;
    position: fixed;
    line-height: 40px;
    height: 40px;
    text-indent: 20px;
    width: 100%;
  }