.content {
    width: 80%;
    max-width: 1200px;
    background: #ffffff;
    overflow: auto;
    padding: 100px;
    color: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

mat-table {
    width: 100%;
}
.mat-table-container {
    width: 50%;
    max-height: 400px;
    overflow: auto;
  }