<app-top-nav-bar> </app-top-nav-bar>
<div class="content">
  <mat-slider
    min="1"
    max="20"
    step="1"
    thumbLabel
    [value]="numberOfRequests"
    (change)="initUsers($event.value)"
  ></mat-slider>
  <div class="mat-table-container mat-elevation-z8">
    <mat-table [dataSource]="dataSourse" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ user.name }} </mat-cell>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ user.last_name }} </mat-cell>
      </ng-container>

      <!-- Age Column -->
      <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ user.age }} </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="openModal(row)"
      ></mat-row>
    </mat-table>
  </div>
  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
</div>
<app-footer> </app-footer>
