.img-wrapper {
    position: absolute;
    width: 150px;
    img {
        width: 100%;
        border-radius: 50%;
    }
}

.data-wrapper {
    width: 150px;
    padding-left: 200px;
}

::ng-deep .mat-input-element:disabled {
    color: #757268;
}

::ng-deep .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-label {
    color: black;
    font-weight: 600;
}