<form [formGroup]="form">
    <div class="img-wrapper">
        <img src="https://boostchiropractic.co.nz/wp-content/uploads/2016/09/default-user-img.jpg" />
    </div>
    <div class="data-wrapper">
        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="last_name">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Age</mat-label>
            <input matInput formControlName="age">
          </mat-form-field>
    </div>
</form>